# 编译 Raspberry 3b+ 固件:
CONFIG_TARGET_brcm2708=y
CONFIG_TARGET_brcm2708_bcm2710=y
CONFIG_TARGET_brcm2708_bcm2710_DEVICE_rpi-3=y

# Disable SQUASHFS:
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_TARGET_ROOTFS_EXT4FS=y

# 设置固件大小:

CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=600

# 固件压缩:

CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_RPI_AXIPERF=m

# 编译UEFI固件:
#
#CONFIG_EFI_IMAGES=y
#
# IPv6支持:
#
#CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
#CONFIG_PACKAGE_ipv6helper=y
#
# 多文件系统支持:

#CONFIG_PACKAGE_kmod-fs-nfs=y
#CONFIG_PACKAGE_kmod-fs-nfs-common=y
#CONFIG_PACKAGE_kmod-fs-nfs-v3=y
#CONFIG_PACKAGE_kmod-fs-nfs-v4=y
#CONFIG_PACKAGE_kmod-fs-ntfs=y
#CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y

# USB3.0支持:

CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

# Language support

CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

# 启用dnsmasq-full 替换 dnsmasq

# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y


# 启用 fullcone nat 

CONFIG_PACKAGE_iptables-mod-fullconenat=y

# 常用LuCI插件选择:
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-advanced=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-mosdns=y

# LuCI主题:
CONFIG_PACKAGE_luci-theme-atmaterial_new=y
CONFIG_PACKAGE_luci-theme-mcat=y
CONFIG_PACKAGE_luci-theme-tomato=y
CONFIG_PACKAGE_luci-theme-neobird=y
CONFIG_PACKAGE_luci-theme-argonne=y
CONFIG_PACKAGE_luci-app-argonne-config=y

# 取消编译VMware镜像以及镜像填充 (不要删除被缩进的注释符号):

CONFIG_TARGET_IMAGES_PAD=y
CONFIG_VMDK_IMAGES=y
